.contactSec {
  margin: 100px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .working-hours {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
    }
    .contact-info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }

      a {
        color: var(--text);
        text-decoration: none;
        font-size: 15px;
        letter-spacing: -1px;
      }
      b {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        svg {
          width: 14px;
        }
      }
    }
    .social-links {
      display: flex;
      gap: 20px;
      align-items: center;
      li {
        list-style: none;
        a {
          color: var(--text);
          text-decoration: none;
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: var(--bg);
          border: 1px solid var(--border-color) !important;
          font-size: 20px;
          transition: all 0.3s ease;
          &:hover {
            background: var(--bg-sec);
            color: var(--text-white);
          }
        }
      }
    }
  }
  p {
    span {
      color: red;
      font-weight: 600;
      font-size: 1.2rem;
      letter-spacing: -1px;
    }
  }
  h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text);
    letter-spacing: -1px;
  }
  .img{
    width: 650px;
    object-fit: cover;
    border-radius: 50%;
    filter: drop-shadow(0 0 10px  var(--box-shadow));
    transition: all 0.4s ease;
    z-index: 10;
    position: relative;
    cursor: pointer;

    &:hover {
      filter: drop-shadow(0 0 15px  var(--box-shadow));
    }
  }
  .map-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .map-button {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background: var(--bg);
      border: 1px solid var(--border-color);
      color: var(--text);
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background: var(--bg-sec);
        color: var(--text-white);
      }
      .map-button-icon {
        width: 12px !important;
        height: 12px !important;
        margin-left: -5px !important;
      }
    }
    svg {
      width: 20px;
      height: 20px;
    }
  }
}