.ShopSec {
  padding: 80px 0;

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .ShopSec-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    .ShopSec-title {
      font-size: 3rem;
      text-align: start;
      color: var(--text);
      font-weight: 700;
      letter-spacing: -1px;
    }
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .shop-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .shop-card {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s, border 0.3s, transform 0.2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    background-color: var(--bg-ter);
    border: 1px solid var(--border-color);
    box-shadow: 0 0px 8px var(--box-shadow);

    img {
      height: 400px;
      object-fit: cover;
      border-radius: 20px;
    }
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      padding: 20px;
      text-align: start;
      .top {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 8px;
      }
      .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        .price {
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--text);
        }
      }
    }
  }

  .title {
    font-size: 1.25rem;
    font-weight: 600;   
    color: var(--text);
    margin-bottom: 4px;
    letter-spacing: -0.5px;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  .price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text);
  }

  .description {
    font-size: 1rem;
    color: var(--text);
    line-height: 1.5;
    font-weight: 400;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 72px;
  }
}
