@use "../../base/variables" as *;

.filter-dropdown {
  position: relative;
}

.dropdown-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  gap: 0.5rem;
  padding: 10px 12px;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  background-color: red;
  -webkit-box-orient: vertical;
  overflow: hidden;
  border-radius: 10px;
  font-family: var(--font-geist);
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  height: 50px;
  background-color: var(--white) !important;
  color: var(--white);
  border: 1px solid #333;
  width: max-content;
  min-width: 170px;
span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
&.filter{
  min-width: 220px;
}
  svg {
    color: var(--black);
    transition: transform 0.2s ease-in-out;
    width: 20px;
    height: 20px;
  }
}

.filter-dropdown[data-open="true"] {
  .dropdown-button svg:last-child {
    transform: rotate(180deg);
  }
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  background: var(--white);
  border: 1px solid;
  border-radius: 8px;
  z-index: 10;
  border: 1px solid var(--border-color);
  padding: 0.4rem;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 10px);
  transition: opacity 0.2s, transform 0.2s, visibility 0.2s;
  &.sort {
    width: 160px !important;
  }
  &.filter {
    width: 240px !important;
  }
}

.filter-dropdown[data-open="true"] .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.dropdown-menu .dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
  transition: background 0.2s;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-radius: 6px;
  color: var(--text);



  &.active {
    color: var(--text);
    font-weight: 600;
    border: 1px solid var(--border-color);

    [data-theme="dark"] & {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}

@media (max-width: 768px) {
  .dropdown-button {
    height: 44px;
    font-size: 14px;
    padding: 8px 16px;
  }

  .dropdown-menu {

    .dropdown-item {
      padding: 8px 10px;
      font-size: 14px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .dropdown-menu {
    &.sort {
      width: 140px !important;
    }
    &.filter {
      width: 200px !important;
    }
  }
}

@media (max-width: 480px) {
  .dropdown-button {
    height: 40px;
    font-size: 12px;
    padding: 6px 12px;
  }

 
}
