.yandex-map-container {
  position: relative;
  .directions {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100%;
    z-index: 1000;
    .directions-button {
      border: 1px solid var(--border-color);
      background-color: white;
      box-shadow: 0 0 10px #55555564;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: start;
      width: max-content;
      height: 22px;
      font-weight: 600;

      padding: 10px;
      border-radius: 6px;
      color: #555;
      cursor: pointer;
      transition: all 0.3s ease;
      gap: 5px;
    }
  }
}
