:root {
  --black: #fff;
  --white: #000;
  --bg: #000;
  --bg-sec: #0a0a0a;
  --bg-ter: #030303;
  --text: #cccccc;
  --box-shadow: rgba(255, 255, 255, 0.1);
  --text-white: #fff;
  --border-color: rgba(255, 255, 255, 0.12);
}

[data-theme="light"] {
  --black: #000;
  --white: #fff;
  --bg: #f5f5f5;
  --bg-sec: #c7c7c7;
  --text: #222;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --border-color: rgba(0, 0, 0, 0.12);
  --text-white: #fff;
  --bg-ter: #f5f5f5;
}

$font-family: "Geist", sans-serif;
$logo-family: var(--font-exo2);
