@use "./base/variables" as *;
@use "./base/base" as *;
@use "./base/resets" as *;
@use "./pages/home/home" as *;
@use "./components/layout/header" as *;
@use "./components/layout/footer" as *;
@use "./components/ui/buttons" as *;
@use "./components/layout/card" as *;
@use "./pages/services/services" as *;
@use "./pages/services/services-cards" as *;
// Global Yandex Maps overrides
.yandex-map-container {
  .ymaps,
  .ymaps canvas,
  .ymaps input,
  .ymaps svg {
    max-width: 100% !important;
    max-height: 100% !important;
  }
}

.yandex-map-fullscreen {
  .ymaps,
  .ymaps canvas,
  .ymaps input,
  .ymaps svg {
    max-width: 100vw !important;
    max-height: 100vh !important;
  }
}
